<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>题目管理</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"></div>
                    <div class="sidebar-brand-text mx-3"><span>rustling-Python</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:3000/index"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="http://127.0.0.1:3000/table.html"><i class="fas fa-table"></i><span>Table</span></a></li>
                    <li class="nav-item"><a class="nav-link active" href="/timu"><i class="fas fa-window-maximize"></i><span>题目管理</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <div class="container-fluid">
                    <h3 class="text-dark mb-1">题目</h3>
                </div>
    <div class="card mt3" style="width: 70%;margin: 0 auto;">
        <div class="card-header">添加(修改)题目</div>
        <div class="card-body">
            <div class="container">
                <p>题目名称</p>
                <input class='mt-1' id="name"></input>
            </div>
            <div class="container">
            <p class="mt-2">题面</p>
                        <div class="card  mt-1">
                            <div class="card-body" style="padding: 0;border: 0;height: 400px;"><textarea style="margin: 0;width: 100%;height: 100%;" id='timu'>## I HAVE DONE</textarea></div>
                        </div>
            <div class="container">
                <p class="mt-2">答案</p>
            </div>
            <div class="card-group  mt-1"><textarea style="margin: 0;width: 100%;height: 200px;" id='daan'></textarea></div>
            <div class="container">
                <button class="btn btn-primary btn-lg btn-block mt-1" type="button" id='submit'>提交</button>
            </div>
        </div>
        <div class="card-foot"></div>
    </div>
    <div class="card mt-3  style="width: 70%;margin: 0 auto;">
        <div class="card-header">危险操作</div>
        <div class="card-body">
            <div class="container">
                <P>删除问题(包括对应的记录)</P>
                </div>
                <input id='delename'>
                <button class="btn btn-primary" type="button" id='butdeleques'>确认</button>
                <div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
                <div class="container mt-3">
                <p>全部删除</p>
                <button class="btn btn-primary btn-lg btn-block mt-1" type="button" id='delall'>全部删除(包括提交记录)</button>
            </div>
        </div>
        <div class="card-foot"></div>
    </div>
    <hr class="mt-5">
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/chart.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="assets/js/theme.js"></script>
        <script>
            $("#submit").click(()=>{
                timu=$("#timu").val();
                anwser=$("#daan").val();
                name=$("#name").val();
                console.log(name);
                if(timu==''||anwser=='## I HAVE DONE'||name==''){
                    alert("题目、题面、答案均不能为空！");
                }
                pama={timu,name,anwser};
                $.post("/addquestion",pama,(data,textStatus)=>{
                    console.log(data)
                    if(data=="exit"){
                        alert("添加失败");
                    }else if(data=="ok"){
                        alert("添加成功");
                        window.location.reload();
                    }
                })
            })
            $("#butdeleques").click(()=>{
                name=$("#delename").val(); 
                console.log(name);
                pama={name};
                $.post("/dequestion",pama,(data,textStatus)=>{
                    if(data=="no"){
                        alert("删除失败");
                    }else if(data=="ok"){
                        alert("删除成功");
                        window.location.reload();
                    }
                })
            })
            $("#delall",(data,textStatus)=>{
                if(data=='no'){
                    alert("删除失败");
                }else if(data=="ok"){
                    alert("删除成功");
                    window.location.reload();
                }
            })
        </script>
</body>

</html>